# Environment
.env
*.env
*.env.*
VenvLx/

# Python
__pycache__/
*.pyc

# Logs
*.log
DLogging/
DLog*.zip
DLog.*zip
DLog.*.log.zip
logs/

# Docker
*.dockerignore

# Zone.Identifier files (Windows WSL bug)
*:Zone.Identifier
**/*Zone.Identifier

# Build
build/
_OLD/
cloudflared.deb

# Cloudflare
.cloudflared/
cloudflared.deb
